<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- values.properties 값 ${변수}를 써서 치환하기 -->
	<context:property-placeholder location="classpath:values.properties"/>
	
	<!-- DataSource 구현체인 HikariDataSource 클래스를 Bean으로 설정 -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		p:driverClassName="${db.driverClass}"
		p:jdbcUrl="${db.url}" 
		p:username="${db.username}"
		p:password="${db.password}"
	/>
	
	<!-- SqlSessionFactoryBean 설정 -->
	<!-- 해당 링크에서 가져온 주석들 -->
	<!-- https://mybatis.org/spring/apidocs/org/mybatis/spring/SqlSessionFactoryBean.html#setMapperLocations(org.springframework.core.io.Resource...) -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- setDataSource(DataSource source) -->
		<property name="dataSource" ref="dataSource" />
		<!-- setConfigLocation(Resource configLocation)  MyBatis config xml-->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
		<!-- setMapperLocations(Resource... mapperLocations) SQL문이 포함 된 mapper xml -->
		<property name="mapperLocations">
			<list>
				<!-- 앞에 * 붙이면 뒤에 Mapper.xml로 끝나는거 다 가져옴 -->
				<!-- <value>classpath:mybatis/UserMapper.xml</value> -->
				<value>classpath:mybatis/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- SqlSession 설정 constructor injection 방식만 가능함(기본 생성자가 없어서) -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	<!-- 2025-04-29 13:00 -->
	<!-- MapperScannerConfigurer 설정 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="**.dao.mapper"/> 
		<!--  <property name="basePackage" value="myspring.**.dao.mapper"/> --><!-- **: 디렉토리 의미 -->
		<property name="sqlSessionTemplateBeanName" value="sqlSession" /> 
	</bean>
	
</beans>
